In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [6]:
from numpy import random

In [4]:
import numpy as np

In [7]:
dataOne = random.rand(5,5)

In [8]:
np.mean(dataOne)

0.5472136284252074

In [1]:
print('I Love data Science')

I Love data Science

In [2]:
variableName = 25

In [5]:
variableName1 = 'I Love data Scien'

In [3]:
print (variableName)

25

In [7]:
print(variableName1)

I Love data Scien

In [8]:
variableName = 25

In [9]:
type(variableName)

int

In [10]:
variableName = 25.5

In [11]:
type(variableName)

float

In [12]:
varOne = 25

In [13]:
varTwo = 25.0

In [14]:
varThree = varOne + varTwo

In [15]:
print(varThree)

50.0

In [16]:
varOne = 25

varTwo = 'Hello'

varThree = varOne + varTwo

print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
listOne = [1,2,3,4]

In [18]:
print(listOne[1:3])

[2, 3]

In [19]:
tel = {'jack': 4098, 'sape': 4139}

In [20]:
tel['jack']

4098

In [21]:
list5Enteros =[90,91,92,93,94,95]

In [42]:
print(list5Enteros[0:1])
print(list5Enteros[1:2])

numero1 = list5Enteros[0]
numero2 = list5Enteros[1]
# Suma
suma = numero1 + numero2
print(suma)

#Multiplicacion
numero1 = list5Enteros[5]
numero2 = list5Enteros[2]
multiplicacion =  numero1 * numero2
print(multiplicacion)

#Resta
numero1 = list5Enteros[4]
numero2 = list5Enteros[2]
resta =  numero1 - numero2
print(resta)

#Division
numero1 = list5Enteros[1]
numero2 = list5Enteros[4]
division =  numero1 / numero2
print(division)

[90]
[91]
181
8740
2
0.9680851063829787