In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [6]:
from numpy import random

In [4]:
import numpy as np

In [7]:
dataOne = random.rand(5,5)

In [8]:
np.mean(dataOne)

0.5472136284252074

In [1]:
print('I Love data Science')

I Love data Science

In [2]:
variableName = 25

In [5]:
variableName1 = 'I Love data Scien'

In [3]:
print (variableName)

25

In [7]:
print(variableName1)

I Love data Scien

In [8]:
variableName = 25

In [9]:
type(variableName)

int

In [10]:
variableName = 25.5

In [11]:
type(variableName)

float

In [12]:
varOne = 25

In [13]:
varTwo = 25.0

In [14]:
varThree = varOne + varTwo

In [15]:
print(varThree)

50.0

In [16]:
varOne = 25

varTwo = 'Hello'

varThree = varOne + varTwo

print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
listOne = [1,2,3,4]

In [18]:
print(listOne[1:3])

[2, 3]

In [19]:
tel = {'jack': 4098, 'sape': 4139}

In [20]:
tel['jack']

4098

In [21]:
list5Enteros =[90,91,92,93,94,95]

In [42]:
print(list5Enteros[0:1])
print(list5Enteros[1:2])

numero1 = list5Enteros[0]
numero2 = list5Enteros[1]
# Suma
suma = numero1 + numero2
print(suma)

#Multiplicacion
numero1 = list5Enteros[5]
numero2 = list5Enteros[2]
multiplicacion =  numero1 * numero2
print(multiplicacion)

#Resta
numero1 = list5Enteros[4]
numero2 = list5Enteros[2]
resta =  numero1 - numero2
print(resta)

#Division
numero1 = list5Enteros[1]
numero2 = list5Enteros[4]
division =  numero1 / numero2
print(division)

[90]
[91]
181
8740
2
0.9680851063829787

In [1]:
##PRACTICA CAPITULO 5 Y 6 Python for Data Science for Dummies 2 edition

In [4]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [5]:
fruits.count('apple')

2

In [6]:
fruits.count('tangerine')

0

In [7]:
fruits.index('banana')

3

In [8]:
# Find next banana starting a position 4
fruits.index('banana', 4)

6

In [9]:
fruits.reverse()

In [10]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [12]:
fruits.append('grape')

In [13]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [14]:
fruits.sort()

In [15]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [16]:
fruits.pop()

'pear'

In [19]:
##USO DE PILAS
stack = [3, 4, 5]

In [20]:
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [21]:
stack.pop()

7

In [22]:
stack

[3, 4, 5, 6]

In [23]:
stack.pop()
stack.pop()

5

In [24]:
stack

[3, 4]

In [25]:
#####USO DE COLAS
from collections import deque

In [32]:
queue = deque(["Eric", "John", "Michael"])

In [33]:
# Terry arrives
queue.append("Terry")  
# Graham arrives        
queue.append("Graham")

In [34]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [35]:
# The first to arrive now leaves         
queue.popleft()

'Eric'

In [36]:
# The second to arrive now leaves
queue.popleft()

'John'

In [37]:
# Remaining queue in order of arrival
queue

deque(['Michael', 'Terry', 'Graham'])

In [38]:
squares = []

In [40]:
for x in range(10): squares.append(x**2)

In [41]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
x

9

In [43]:
squares = list(map(lambda x: x**2, range(10)))

In [44]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
squares = [x**2 for x in range(10)]

In [46]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
## Lambda comparacion de dos listas
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [48]:
vec = [-4, -2, 0, 2, 4]

In [49]:
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [50]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [51]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [52]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [53]:
###QUITAR ESPACIOS
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [54]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [56]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)] 
## CORRECCION DEL ERROR - FALTAN PARANTESIS REDONDOS (x, x**2)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [58]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [59]:
 [num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
from math import pi

In [62]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [63]:
####5.1.4. Lista de comprensiones anidadas

In [66]:
matrix = [[1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12],]

In [67]:
[[row[i] for row in matrix] for i in range(4)]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [68]:
## EL MISMO EJEMPLO UTILIZANDO ZIP()
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [70]:
###5.2. La del  declaración 
##ELIMINAR ELEMENTOS UTILIZANDO EL INDICE CONOCIDO
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [71]:
del a[0]

In [72]:
a

[1, 66.25, 333, 333, 1234.5]

In [73]:
###Eliminar por rango
del a[2:4]

In [74]:
a

[1, 66.25, 1234.5]

In [75]:
###VACIAR TODA LA VARIABLE
del a[:]

In [76]:
a

[]

In [77]:
###Eliminar la variable
del a

In [78]:
a

NameError: name 'a' is not defined

In [79]:
##### 5.3. Tuplas y Secuencias ¶
##valores separados por coma
t = 12345, 54321, 'hello!'

In [80]:
t[0]

12345

In [81]:
t

(12345, 54321, 'hello!')

In [83]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)

In [84]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [85]:
###No es posible reasignarles un valor
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [86]:
## Pueden contener multiples objectos
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [88]:
empty = ()

In [89]:
singleton = 'hello',    # <-- note trailing comma

0

In [90]:
len(empty)

0

In [91]:
len(singleton)

1

In [93]:
### 5.4. Conjuntos 
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [94]:
print(basket)

{'banana', 'orange', 'apple', 'pear'}

In [95]:
'orange' in basket

True

In [97]:
'crabgrass' in basket

False

In [98]:
# Demonstrate set operations on unique letters from two words

In [99]:
a = set('abracadabra')

In [100]:
b = set('alacazam')

In [101]:
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [102]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [103]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [104]:
a & b                              # letters in both a and b

{'a', 'c'}

In [105]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [106]:
## comparacion de listas
a = {x for x in 'abracadabra' if x not in 'abc'}

In [107]:
a

{'d', 'r'}

In [108]:
####5.5. Diccionarios 
tel = {'jack': 4098, 'sape': 4139}

In [109]:
tel['guido'] = 4127

In [110]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [111]:
tel['jack']

4098

In [112]:
##elimina un elemento del json
del tel['sape']

In [113]:
tel['irv'] = 4127

In [114]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [115]:
list(tel)  ###lista

['jack', 'guido', 'irv']

In [116]:
sorted(tel) ## Ordenar

['guido', 'irv', 'jack']

In [117]:
'guido' in tel ### Buscar el elemento en el json

True

In [118]:
##Crear un json 
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [119]:
{x: x**2 for x in (2, 4, 6)} ## crea objetos de forma ordinaria

{2: 4, 4: 16, 6: 36}

In [120]:
dict(sape=4139, guido=4127, jack=4098) ## crear una cadena simple

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [121]:
####5.6. Técnicas de bucle 
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [122]:
for k, v in knights.items(): print(k, v)

gallahad the pure
robin the brave

In [123]:
for i, v in enumerate(['tic', 'tac', 'toe']): print(i, v) ###Imprimir el orden de los elementos

0 tic
1 tac
2 toe

In [124]:
questions = ['name', 'quest', 'favorite color']

In [125]:
answers = ['lancelot', 'the holy grail', 'blue']

In [127]:
for q, a in zip(questions, answers):
 print('What is your {0}?  It is {1}.'.format(q, a))  ###recorrer dos o más secuencias al mismo tiempo,

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [130]:
###recorrer una secuencia en reversa,
for i in reversed(range(1, 10, 2)):
 print(i)

9
7
5
3
1

In [131]:
## recorrer una secuencia en orden ordenado

In [132]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [133]:
for f in sorted(set(basket)): print(f)

apple
banana
orange
pear

In [136]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
 if not math.isnan(value):
  filtered_data.append(value)


filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [137]:
##5.7. Más sobre las condiciones
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [138]:
non_null = string1 or string2 or string3

In [139]:
non_null

'Trondheim'

In [140]:
###5.8 Comparación de secuencias y otros tipos
(1, 2, 3)              < (1, 2, 4)

True

In [141]:
[1, 2, 3]              < [1, 2, 4]

True

In [142]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [143]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [144]:
(1, 2)                 < (1, 2, -1)

True

In [145]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [146]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [147]:
### CAPITULO 6

In [148]:
###6. Módulos

In [149]:
import fibo

In [150]:
fibo.fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [151]:
fibo.fib2(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [152]:
fibo.__name__

'fibo'

In [153]:
##ASIGNAR NOMBRE A UNA VARIABLE LOCAL
fib = fibo.fib

In [154]:
fib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [155]:
###6.1. Más sobre módulos
from fibo import fib, fib2 ####IMPORTA DIRECTAMENTE LAS FUNCIONES

In [156]:
from fibo import * ###NO SE DEBE UTILZAR IMPORTA TODA LA BASURA

In [157]:
import fibo as fib ###ASIGNA UN ALIAS AL MODULO

In [158]:
from fibo import fib as fibonacci ### IMPORTAR CON UN ALIAS SUPERIOR

In [159]:
###6.1.1. Ejecutando módulos como scripts--- preguntar un poco confuso

In [161]:
###6.1.2. La ruta de búsqueda del módulo 
### EXPLICACION DE LA VARIABLE PYTHONPATH, establece la ruta inicial de donde se toman los modulos
###6.1.3. Archivos Python "compilados" 
###6.2. Módulos estándar
import sys

In [162]:
sys.ps1

'In : '

In [163]:
sys.ps2

'...: '

In [167]:
sys.ps1 = 'C>'

In [168]:
C> print('Yuck!')
###da error no esta en modulo interactivo

NameError: name 'C' is not defined

In [169]:
###6.3. La dir()función ¶
###La función incorporada dir()se utiliza para averiguar qué nombres define un módulo. Devuelve una lista ordenada de cadenas:
import fibo, sys

In [170]:
dir(fibo)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'fib',
 'fib2']

In [171]:
dir(sys)

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_framework',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'abiflags',
 'api_version',
 'argv',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'callstats',
 'copyright',
 'displayhook',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_coroutine_wrapper',
 'getallocatedblocks',
 'getcheckinterval',
 'getdefaultencoding',
 'getdlopenflags',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'last_traceback',
 'last_type',
 'last_value',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_coroutine_wrapper',
 'setcheckinterval',
 'setdlopenflags',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'version',
 'version_info',
 'warnoptions']

In [172]:
###6.4. Paquetes
##Los paquetes son una forma de estructurar el espacio de nombres del módulo de Python mediante el uso de "nombres de módulos con puntos".

In [174]:
###import sound.effects.echo ## importar un modulo individual del paquete

In [175]:
###sound.effects.echo.echofilter(input, output, delay=0.7, atten=4) Forma de uso

In [ ]:
### from sound.effects import echo importar a un alias
### echo.echofilter(input, output, delay=0.7, atten=4) utilizando el alias
###Importar una funsion directamente de modulo from sound.effects.echo import echofilter