In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [6]:
from numpy import random

In [4]:
import numpy as np

In [7]:
dataOne = random.rand(5,5)

In [8]:
np.mean(dataOne)

0.5472136284252074

In [1]:
print('I Love data Science')

I Love data Science

In [2]:
variableName = 25

In [5]:
variableName1 = 'I Love data Scien'

In [3]:
print (variableName)

25

In [7]:
print(variableName1)

I Love data Scien

In [8]:
variableName = 25

In [9]:
type(variableName)

int

In [10]:
variableName = 25.5

In [11]:
type(variableName)

float

In [12]:
varOne = 25

In [13]:
varTwo = 25.0

In [14]:
varThree = varOne + varTwo

In [15]:
print(varThree)

50.0

In [16]:
varOne = 25

varTwo = 'Hello'

varThree = varOne + varTwo

print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
listOne = [1,2,3,4]

In [18]:
print(listOne[1:3])

[2, 3]

In [19]:
tel = {'jack': 4098, 'sape': 4139}

In [20]:
tel['jack']

4098

In [21]:
list5Enteros =[90,91,92,93,94,95]

In [42]:
print(list5Enteros[0:1])
print(list5Enteros[1:2])

numero1 = list5Enteros[0]
numero2 = list5Enteros[1]
# Suma
suma = numero1 + numero2
print(suma)

#Multiplicacion
numero1 = list5Enteros[5]
numero2 = list5Enteros[2]
multiplicacion =  numero1 * numero2
print(multiplicacion)

#Resta
numero1 = list5Enteros[4]
numero2 = list5Enteros[2]
resta =  numero1 - numero2
print(resta)

#Division
numero1 = list5Enteros[1]
numero2 = list5Enteros[4]
division =  numero1 / numero2
print(division)

[90]
[91]
181
8740
2
0.9680851063829787

In [1]:
##PRACTICA CAPITULO 5 Y 6 Python for Data Science for Dummies 2 edition

In [4]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [5]:
fruits.count('apple')

2

In [6]:
fruits.count('tangerine')

0

In [7]:
fruits.index('banana')

3

In [8]:
# Find next banana starting a position 4
fruits.index('banana', 4)

6

In [9]:
fruits.reverse()

In [10]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [12]:
fruits.append('grape')

In [13]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [14]:
fruits.sort()

In [15]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [16]:
fruits.pop()

'pear'

In [19]:
##USO DE PILAS
stack = [3, 4, 5]

In [20]:
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [21]:
stack.pop()

7

In [22]:
stack

[3, 4, 5, 6]

In [23]:
stack.pop()
stack.pop()

5

In [24]:
stack

[3, 4]

In [25]:
#####USO DE COLAS
from collections import deque

In [32]:
queue = deque(["Eric", "John", "Michael"])

In [33]:
# Terry arrives
queue.append("Terry")  
# Graham arrives        
queue.append("Graham")

In [34]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [35]:
# The first to arrive now leaves         
queue.popleft()

'Eric'

In [36]:
# The second to arrive now leaves
queue.popleft()

'John'

In [37]:
# Remaining queue in order of arrival
queue

deque(['Michael', 'Terry', 'Graham'])

In [38]:
squares = []

In [40]:
for x in range(10): squares.append(x**2)

In [41]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
x

9

In [43]:
squares = list(map(lambda x: x**2, range(10)))

In [44]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
squares = [x**2 for x in range(10)]

In [46]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
## Lambda comparacion de dos listas
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [48]:
vec = [-4, -2, 0, 2, 4]

In [49]:
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [50]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [51]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [52]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [53]:
###QUITAR ESPACIOS
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [54]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [56]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)] 
## CORRECCION DEL ERROR - FALTAN PARANTESIS REDONDOS (x, x**2)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [58]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [59]:
 [num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
from math import pi

In [62]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [63]:
####5.1.4. Lista de comprensiones anidadas

In [66]:
matrix = [[1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12],]

In [67]:
[[row[i] for row in matrix] for i in range(4)]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [68]:
## EL MISMO EJEMPLO UTILIZANDO ZIP()
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [70]:
###5.2. La del  declaración 
##ELIMINAR ELEMENTOS UTILIZANDO EL INDICE CONOCIDO
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [71]:
del a[0]

In [72]:
a

[1, 66.25, 333, 333, 1234.5]

In [73]:
###Eliminar por rango
del a[2:4]

In [74]:
a

[1, 66.25, 1234.5]

In [75]:
###VACIAR TODA LA VARIABLE
del a[:]

In [76]:
a

[]

In [77]:
###Eliminar la variable
del a

In [78]:
a

NameError: name 'a' is not defined

In [79]:
##### 5.3. Tuplas y Secuencias ¶
##valores separados por coma
t = 12345, 54321, 'hello!'

In [80]:
t[0]

12345

In [81]:
t

(12345, 54321, 'hello!')

In [83]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)

In [84]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [85]:
###No es posible reasignarles un valor
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [86]:
## Pueden contener multiples objectos
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [88]:
empty = ()

In [89]:
singleton = 'hello',    # <-- note trailing comma

0

In [90]:
len(empty)

0

In [91]:
len(singleton)

1